.sidebar-item {
    &-info {
        border-left: 3px solid #4ccfdecd;
    }
    &-warning {
        border-left: 3px solid #ded24ccd;
    }
    &-error {
        border-left: 3px solid #de4c4ccd;
    }
}

.grid-component {
    &-actions {
        display: flex;
        flex-flow: column;
        padding-bottom: 15px;       
        
        & > *:first-child {
            margin-bottom: 5px;
        }
    }
}