.sidebar-item {
    &-info {
        border-left: 3px solid #4ccfdecd;
    }
    &-warning {
        border-left: 3px solid #ded24ccd;
    }
    &-error {
        border-left: 3px solid #de4c4ccd;
    }
}

.grid-component {
    &-actions {
        padding-bottom: 15px;

        .filters {
            display: flex;
            flex-flow: row wrap;

            & > *:first-child {
                margin-right: 5px;
            }

            & > * {
                margin-bottom: 3px;
            }
        }
        
        & > *:first-child {
            margin-bottom: 5px;
        }
    }
}